*.cpy working-tree-encoding=ibm-1047 git-encoding=utf-8
*.cbl working-tree-encoding=ibm-1047 git-encoding=utf-8
*.bms working-tree-encoding=ibm-1047 git-encoding=utf-8
*.pli working-tree-encoding=ibm-1047 git-encoding=utf-8
*.mfs working-tree-encoding=ibm-1047 git-encoding=utf-8
*.bnd working-tree-encoding=ibm-1047 git-encoding=utf-8
*.lnk working-tree-encoding=ibm-1047 git-encoding=utf-8
*.rex working-tree-encoding=ibm-1047 git-encoding=utf-8
*.txt working-tree-encoding=ibm-1047 git-encoding=utf-8
*.groovy working-tree-encoding=ibm-1047 git-encoding=utf-8
*.sh working-tree-encoding=ibm-1047 git-encoding=utf-8
*.properties working-tree-encoding=ibm-1047 git-encoding=utf-8
