*.cpy working-tree-encoding=ibm-037 git-encoding=utf-8
*.inc working-tree-encoding=ibm-037 git-encoding=utf-8
*.cbl working-tree-encoding=ibm-037 git-encoding=utf-8
*.bms working-tree-encoding=ibm-037 git-encoding=utf-8
*.pli working-tree-encoding=ibm-037 git-encoding=utf-8
*.psb working-tree-encoding=ibm-037 git-encoding=utf-8
*.dbd working-tree-encoding=ibm-037 git-encoding=utf-8
*.mfs working-tree-encoding=ibm-037 git-encoding=utf-8
*.bnd working-tree-encoding=ibm-037 git-encoding=utf-8
*.jcl working-tree-encoding=ibm-037 git-encoding=utf-8
*.lnk working-tree-encoding=ibm-037 git-encoding=utf-8
*.rex working-tree-encoding=ibm-037 git-encoding=utf-8
*.skel working-tree-encoding=ibm-037 git-encoding=utf-8
*.pnl working-tree-encoding=ibm-037 git-encoding=utf-8
*.pmsg working-tree-encoding=ibm-037 git-encoding=utf-8
*.cntl working-tree-encoding=ibm-037 git-encoding=utf-8
*.txt working-tree-encoding=ibm-1047 git-encoding=utf-8
*.groovy working-tree-encoding=ibm-1047 git-encoding=utf-8
*.sh working-tree-encoding=ibm-1047 git-encoding=utf-8
*.properties working-tree-encoding=ibm-1047 git-encoding=utf-8
