######################################################################
# This config file contains optional settings for the JCL            #
# migration.  Required settings are passed via the command line:     #
#                                                                    #
# restrictedPgms    : A comma separated list of programs that require#
#                     APF authorization to run. These are usually    #
#                     programs like IFJEFT01 which are used to run   #
#                     REXX scripts. The migration tool will attempt  #
#                     to convert the calls to these programs into    #
#                     calls to the underlying command or REXX script.#
#                     Warnings will be produced and the generated    #
#                     code should be reviewed and adjustments made   #
#                     before running the generated scripts. Add      #
#                     additional programs as necessary.              #
#                     By default, the list contains IKJEFT01,        #
#                     IKJEFT1A, IKJEFT1B, IRXJCL, and IOEAGFMT.      #
#                                                                    #
# tempDataSetOptions: Default BPXWDYN options used to allocate       #
#                     temporary datasets when no other options are   #
#                     specified on the DD Statement. If you have     #
#                     coded SYSOUT=* or DUMMY as your DD statement   #
#                     these options will be used. The default value  #
#                     is                                             #
#      cyl space(5,5) unit(vio) blksize(80) lrecl(80) recfm(f,b) new #
#                                                                    #
# procLibs          : A comma separated list of libraries that       #
#                     will be scanned to locate JCL PROCs.           #
#                                                                    #
######################################################################

#restrictedPgms = PROG1,PROG2

#tempDataSetOptions = 

#procLibs = USER.PROCLIB,SYS1.PROCLIB
