######################################################################
# This config file contains all required and optional settings       #
# for the JCL migration:                                             #
#                                                                    #
# REQUIRED:                                                          #
# proj              : The JCL project to be migrated                 #
#                                                                    #
# OPTIONAL:                                                          #
# outputDir         : The directory in the HFS where all files will  #
#                     be written. The directory will have a          #
#                     sub-directory created called                   #
#                     jclMigration/{proj}, if not specified will     #
#                     default to the users home directory            #
#                                                                    #
# restrictedPgms    : A comma separated list of programs that require#
#                     APF authorization to run. These are usually    #
#                     programs like IFJEFT01 which are used to run   #
#                     REXX scripts. The migration tool will attempt  #
#                     to convert the calls to these programs into    #
#                     calls to the underlying command or REXX script.#
#                     Warnings will be produced and the generated    #
#                     code should be reviewed and adjustments made   #
#                     before running the generated scripts. Add      #
#                     additional programs as necessary.              #
#                     By default, the list contains IKJEFT01,        #
#                     IKJEFT1A, IKJEFT1B, IRXJCL, and IOEAGFMT.      #
#                                                                    #
# tempDataSetOptions: Default BPXWDYN options used to allocate       #
#                     temporary datasets when no other options are   #
#                     specified on the DD Statement. If you have     #
#                     coded SYSOUT=* or DUMMY as your DD statement   #
#                     these options will be used. The default value  #
#                     is                                             #
#      cyl space(5,5) unit(vio) blksize(80) lrecl(80) recfm(f,b) new #
#                                                                    #
# saveJCLOutputs    : Specify true to generate code to save outputs  #
#                     from a JCLExec. The default is false.          #
#                                                                    #
# genExecVars       : Specify true to generate executable variables. #
#                     If true, the code will scan for ${} variable   #
#                     substitution and generate parameters for the   #
#                     step method invocations. In general, JCL       #
#                     migration will not need this. The default is   #
#                     false.                                         #
######################################################################


proj = RAA

#outputDir =

#restrictedPgms = PROG1,PROG2

#tempDataSetOptions = 

saveJCLOutputs = true

#genExecVars = 