#
# Wazi Deploy Ansible Runtime Environment Configuration
# This file contains common settings for Wazi Deploy Ansible test scripts
#

# User Configuration
TMPHLQ="DBEHM"

# Deployment Method
DEPLOYMENT_METHOD=${SCRIPT_DIR}/../../deployment-configuration/deployment-method.yml


# Wazi Deploy Configuration Files
WAZI_DEPLOY_CONFIG_FILE=/var/git/artifactoryConfig.yml

# Target Library Configuration
TARGET_HLQ="DBEHM.WD.ANSIBLE.BASE"

# Application Configuration
APPLICATION="base"

# Package URL
PACKAGE_URL="http://10.3.20.231:8081/artifactory/base-dbehm-repo-local/release/rel-1.0.0/base-rel-1.0.0-2025-06-27_08-52-10.tar"

# Ansible Configuration
ANSIBLE_INVENTORY="inventories"
ZOS_ENVIRONMENT="int_a_zos_host"

# Ansible setup
export PATH=/usr/local/bin/:$PATH

# Python stream configuration
PYTHON_VENV=/var/python-envs/wazi-deploy-v3.0.7.1
ZOAU_HOME_DIR=/var/zoau-1.3.6.0