######################################################################
# This config file contains all required and optional settings       #
# for the SCLM migration:                                            #
#                                                                    #
# REQUIRED:                                                          #
# proj              : the SCLM project to be migrated                #
#                                                                    #
# group             : the SCLM group, recommending to migrate from   #
#                     PROD group                                     #
#                                                                    #
# OPTIONAL:                                                          #
# migHlq            : the HLQ for the data sets that will be         #
#                     created to hold the generated link-edit decks  #
#                     and the migrated source, if not specified      #
#                     will be default to the userid of the person    #
#                     running the migration                          #
#                                                                    #
# outputDir         : the directory in the HFS where all files will  #
#                     be written. The directory will have a          #
#                     sub-directory created called                   #
#                     sclmMigration/{proj}, if not specified will    #
#                     default to the users home directory            #
#                                                                    #
# projmem           : the SCLM project definition member, if not     #
#                     specified will be default to SCLM project      #
#                                                                    #
# projdefs          : the SCLM project definition source data set,   #
#                     if not specified will be default to            #
#                     {proj}.PROJDEFS.SOURCE                         #
#                                                                    #
# maclibs           : additional macro libraries, seperated by       #
#                     commas. If not specified will be default to    #
#                     ISP.SISPMACS                                   #
#                                                                    #
# allLangs          : indicating whether all languages will be       #
#                     processed, set to 'false' if you only want to  #
#                     process languages that are referenced by       #
#                     members in the SCLM project. It is default     #
#                     to 'true'                                      #
#                                                                    #
# empty             : indicating whether to skip processing data     #
#                     sets that contain no members. Set this setting #
#                     to 'true' if you do not want to create any     #
#                     data set definition XML for data sets that     #
#                     contain no members. There may be FLMTYPE       #
#                     definitions in the SCLM project that are       #
#                     redundant                                      #
#                                                                    #
# exist              :indicating whether to skip processing          #
#                     non-existent data sets. Set this setting to    #
#                     'true' if you do not want to create data set   #
#                     definition XML for data sets that do not       #
#                     exist. There may be FLMTYPE definitions in     #
#                     the SCLM project that are redundant            #
#                                                                    #
# vermax             :indicating the number of versions of the       #
#                     members to be migrated, if not specified       #
#                     will be default to migrate all versions of     #
#                     the members                                    #
#                                                                    #
# lectypes           :Specify the name of ARCHDEF type(s) that       #
#                     contains LEC ARCHDEFS. This will cause the     #
#                     generated link-edit decks to also be migrated. #
#                     For example ARCHLEC.                           #
#                                                                    #
# dependtypes        :Enter a blank separated list of SCLM types     #
#                     that contain dependant parts. For example      #
#                     COPYBOOK, PLINCL, HPP.                         #
#                                                                    #
# selectionCriteria  :indicating whether to use LANG or TYPE as      #
#                     selection criteria to migrate source member    #
#                     to Git repository. When 'LANG' is selected     #
#                     the members are migrated to                    #
#                     $repo/type/lang directory. When 'TYPE' is      #
#                     selected the members are migrated to           #
#                     $repo/type directory                           #
#                                                                    #
# repo               :the repository location, the project name      #
#                     is appended to form a target directory for     #
#                     the newly created Git repository. If not       #
#                     specified the location is default to           #
#                     ${outputDir}/repo                              #
#                                                                    #
######################################################################


proj =

group =

#migHlq =

#outputDir =

#projmem =

#projdefs =

#maclibs =

#allLangs

#empty =

#exist =

#vermax =

#lectypes =

#dependtypes =

selectionCriteria = LANG

#repo =
